h1 {
	text-align: center;
	font-family: 'Arvo', serif;
}

h3 {
	font-family: 'Arvo', serif;
}
p {
	font-family: 'Saira Condensed', sans-serif;
	font-size: 20px;
}

.centered {
	text-align: center;
}

#projectlist {
	margin-left: 50px;
}
